<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cook.name %> <br>
  <strong>Rank:</strong>
  <%= @cook.rank %>
</p>

<%= link_to 'Edit', edit_cook_path(@cook) %> |
<%= link_to 'Back', cooks_path %>
